# Documentation files
indicaciones.docx
seguimiento_mvp_versiculos.md
semana_3.docx
iteraciones.txt

# Notebooks
test.ipynb
lista_emociones_temas.ipynb

# Python files
benchmark_models.py
__init__.py
test_thematic_models.py

# Archives
annotation_scheme_docs.zip

# Logs and cache
logs/
__pycache__/
*.pyc

# Secret files
.streamlit/secrets.toml
.env

# Models
notebooks/finetuned-goemotions-bible/
notebooks/results_finetuned_bible/
src/fine_tuning/finetuned-goemotions-bible/
notebooks/results_finetuned_bible_fold_*
notebooks/results_finetuned_bible_cv
notebooks/results_finetuned_bible_optuna/
src/fine_tuning/finetuned-goemotions-bible-optuna/