# === CORE ===
numpy
pandas
scikit-learn
scipy
tqdm
regex
requests
beautifulsoup4
soupsieve
python-dateutil
pytz

# === Streamlit + Visuals ===
streamlit
altair
pydeck

# === Transformers ===
transformers
sentence-transformers
torch
tokenizers
protobuf

# === Utilidades ===
typing-extensions
pyarrow
PyYAML
gspread
oauth2client
deep-translator
qdrant-client
