# === CORE ===
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
scipy
tqdm
regex
requests
beautifulsoup4
soupsieve
python-dateutil
pytz

# === Streamlit + Visuals ===
streamlit==1.45.0
altair
pydeck

# === Transformers ===
torch==2.2.2
transformers==4.40.0
sentence-transformers==2.7.0
tokenizers==0.19.1
protobuf==4.25.3
datasets
optuna

# === Utilidades ===
typing-extensions
pyarrow
PyYAML
gspread
oauth2client
deepl
python-dotenv
hf_xet
unidecode
psutil
